In [1]:
# # Exercise -1
# Exercise: Python Variables
# Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see.

# Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables

# Store your first, middle and last name in three different variables and then print your full name using these variables

# Answer which of these are invalid variable names: _nation 1record record1 record_one record-one record^one continue

In [3]:
break=5
print(break)

SyntaxError: invalid syntax (1564100847.py, line 1)

In [4]:
birth_year=1989
current_year=2022
age=current_year-birth_year
print(age)

33

In [7]:
first_name='hardik'
middle_name='vrajlalbhai'
last_name='patel'
print("my full name is =:",first_name+" "+middle_name+" "+last_name)

my full name is =: hardik vrajlalbhai patel

In [8]:
1record,record-one,record^one,continue

SyntaxError: invalid decimal literal (2875162713.py, line 1)

In [9]:
# # Exercise  -2
# Exercise: Numbers in python
# You have a football field that is 92 meter long and 48.8 meter wide. Find out total area using python and print it.
# You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar and you gave shopkeeper 20 dollar. Find out using python, how many dollars is the shopkeeper going to give you back?
# You want to replace tiles in your bathroom which is exactly square and 5.5 feet is its length. If tiles cost 500 rs per square feet, how much will be the total cost to replace all tiles. Calculate and print the cost using python (Hint: Use power operator ** to find area of a square)
# Print binary representation of number 17

In [11]:
total=92*48.8 
print("Total area of football ground =",total)

Total area of football ground = 4489.599999999999

In [14]:
total_dollar=9*1.49
print(total_dollar)

13.41

In [15]:
20-total_dollar

6.59

In [16]:
bin(17)

'0b10001'

In [18]:
bathroom_length=5.5   #5.5 feet
total_tiles=5.5**2
total_tiles

30.25

In [19]:
500*total_tiles   #total cost of bathroom

15125.0

In [20]:
# Exercise: String in Python
# Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line
# Create a variable to store the string "Earth revolves around the sun"
# Print "revolves" using slice operator
# Print "sun" using negative index
# Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.
# I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [66]:
a="hello"
b="python"
c="welcome"
result=a+"\n"+b+"\n"+c
print(result)

hello
python
welcome

In [70]:
result=f"{a}\n{b}\n{c}"
print(result)

hello
python
welcome

In [32]:
street="gujarat"
city="vadnagar"
country="india"
address=street+ '\n' +city+ '\n' +country
print(address)

gujarat
vadnagar
india

In [30]:
address

'gujarat\nvadnagar\nindia'

In [41]:
a='hello'
b='hardik'
print(a+'\n'+b)

hello
hardik

In [53]:
a=(f"{street}\n{city}\n{country}")

In [54]:
print(a)

gujarat
vadnagar
india

In [56]:
a="hello"
b="hardik"
full=a+"\n"+b
print(full)

hello
hardik

In [59]:
a="hello"
b="python"
result=f"{a}\n{b}"

In [61]:
print(result)

hello
python

In [74]:
a="Earth revolves around the sun"
result=a[6:15]
print(result)

revolves

In [75]:
a[-3:]

'sun'

In [78]:
fruits=10
vegitable=20
x=f"I eat {vegitable} veggies and {fruits} fruits daily"

In [79]:
print(x)

I eat 20 veggies and 10 fruits daily

In [81]:
# I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [93]:
s='maine 200 banana khaye'
# a=s.replace('200','10').replace('banana','samosa')
s=s.replace('200','10')
s=s.replace('banana','samosa')
print(s)

maine 10 samosa khaye

In [95]:
a='hello'
b='python'
c='php'
result=f"{a}\n{b}\n{c}"
print(result)

hello
python
php

In [102]:
a="maine banana 200 khaye"
s=a.replace('banana','apple').replace('200','10')
print(s)

maine apple 10 khaye

In [111]:
round(1.24566888,2)

1.25

In [109]:
round?

In [114]:
# exercise 4
# Exercise: Python Lists
# Let us say your expense for every month are listed below,
# January - 2200
# February - 2350
# March - 2600
# April - 2130
# May - 2190
# Create a list to store these monthly expenses and using that find out,

# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and
# got a refund of 200$. Make a correction to your monthly expense list
# based on this
# You have a list of your favourite marvel super heros.
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this find out,

# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
#    so remove it from the list first and then add it after 'hulk'
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [115]:
# Exercise: Python Lists
# Let us say your expense for every month are listed below,
# January - 2200
# February - 2350
# March - 2600
# April - 2130
# May - 2190
# Create a list to store these monthly expenses and using that find out,

# 1. In Feb, how many dollars you spent extra compare to January?
# 2. Find out your total expense in first quarter (first three months) of the year.
# 3. Find out if you spent exactly 2000 dollars in any month
# 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# 5. You returned an item that you bought in a month of April and

In [117]:
expense=[2200,2350,2600,2130,2190]

In [119]:
que1=expense[1]-expense[0]
print(que1)

150

In [120]:
que2=expense[0]+expense[1]+expense[2]
print(que2)

7150

In [121]:
que3=2000 in expense
print(que3)

False

In [122]:
expense.append(1980)

In [123]:
expense

[2200, 2350, 2600, 2130, 2190, 1980]

In [124]:
que4=expense[3]-200
print(que4)

1930

In [127]:
expense[3]=que4

In [128]:
expense

[2200, 2350, 2600, 1930, 2190, 1980]

In [129]:
# You have a list of your favourite marvel super heros.
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this find out,

# 1. Length of the list
# 2. Add 'black panther' at the end of this list
# 3. You realize that you need to add 'black panther' after 'hulk',
#    so remove it from the list first and then add it after 'hulk'
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
# 5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [130]:
heros=['spider man','thor','hulk','iron man','captain america']

In [131]:
len(heros)

5

In [132]:
heros.append('black panther')

In [133]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [136]:
heros.insert(3,'blank')

In [138]:
print(heros)

['spider man', 'thor', 'blank', 'blank', 'hulk', 'iron man', 'captain america', 'black panther']

In [140]:
heros.pop(2)

'blank'

In [142]:
heros.pop(2)

'blank'

In [143]:
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [144]:
heros.pop()

'black panther'

In [145]:
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [146]:
heros.insert(3,'blank')

In [147]:
heros

['spider man', 'thor', 'hulk', 'blank', 'iron man', 'captain america']

In [149]:
heros[2]='doctor strange'

In [150]:
heros

['spider man',
 'thor',
 'doctor strange',
 'blank',
 'iron man',
 'captain america']

In [151]:
print(heros)

['spider man', 'thor', 'doctor strange', 'blank', 'iron man', 'captain america']

In [153]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']