### Write a program to find number is prime or not

In [5]:
num=int(input("enter any number"))

for i in range(2,num):
    if num%i==0:
        print("Not Prime")
        break
else:
    print("Prime")

enter any number4
Not Prime

### Write a program to find factorial number

In [15]:
num=(int(input("enter any number")))
fact=1
for i in range(1,num+1):
    fact=fact*i
else:
     print(f"The factorial of {num} is =",fact)

enter any number7
The factorial of 7 is = 5040

### write a program to print 1 to 50 even number

In [17]:
for i in range(2,51,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

### write a program to print 1 to 50 odd number

In [18]:
for i in range(1,51,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

### write a program to print sum of first 50 natural number

In [22]:
sum=0
for i in range(1,51):
    sum=sum+i
print(sum)

1275

### write a program first 50 reverse number

In [25]:
for i in range(50,0,-1):
    print(i, end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

### write a program to print first 50 even number sum

In [34]:
sum=0
for i in range(2,101,2):
    sum=sum+i
print("The sum of first 50 even number =:",sum)

The sum of first 50 even number =: 2550

### write a program to print first 50 odd number sum

In [36]:
sum=0
for i in range(1,101,2):
    sum=sum+i
print("The sum of 50 odd number is =:",sum)

The sum of 50 odd number is =: 2500

### write Program to find the sum of all numbers stored in a list

In [40]:
sum=0
number=[6,5,3,8,4,2,5,4,11]
for i in number:
    sum=sum+i
print("sum of given list number=:",sum)

sum of given list number=: 48

### Program to iterate through a list using indexing

In [61]:
list=['hardik','ankit','pratik','sonu']
for i in list:
    print("Welcome to my friend =:",i)

Welcome to my friend =: hardik
Welcome to my friend =: ankit
Welcome to my friend =: pratik
Welcome to my friend =: sonu

In [67]:
list=['hardik','pratik','sonu','ankit']
for i in range(len(list)):
    print("I like:=",list[i])

I like:= hardik
I like:= pratik
I like:= sonu
I like:= ankit

In [70]:
list=[1,20,50]
for i in list:
    print(i)
else:
    print("All is Done")

1
20
50
All is Done

In [92]:
for i in range(1,11):
    if i==5:
        break    #stop the loop after 4
    print(i,end=" ")

1 2 3 4

In [94]:
for i in range(1,11):
    if i==5:
        continue      # skip the value of 5
    print(i,end=" ")

1 2 3 4 6 7 8 9 10

In [116]:
dict_marks={'hardik':90,'pratik':99,'sonu':80}
for i in dict_marks:
     print(i,dict_marks[i])
#     print(dict_marks.keys())

hardik 90
pratik 99
sonu 80

### Python Program to Check Leap Year

In [125]:
year=int(input("Enter any Year:="))

if year%400==0 and year%100==0:
    print("leap year")
elif year%4==0 and year%100!=0:
    print("leap year")
else:
    print("Not leap year")

Enter any Year:=2008
leap year

### Python Program to Display the multiplication Table

In [3]:
number=int(input("enter any number"))

for i in range(1,11):
    print(f"{number} X {i}=",number*i)

enter any number3
3 X 1= 3
3 X 2= 6
3 X 3= 9
3 X 4= 12
3 X 5= 15
3 X 6= 18
3 X 7= 21
3 X 8= 24
3 X 9= 27
3 X 10= 30

In [127]:
a="hello"
for i in range(1,11):
    print("hello",end=" ")

hello hello hello hello hello hello hello hello hello hello

In [128]:
# multiplication operator

In [170]:
a=10
print(a * ' hello')

 hello hello hello hello hello hello hello hello hello hello

In [171]:
a=10
a*' *'

' * * * * * * * * * *'

In [175]:
for i in range(1,6):
    print(i*' *')

 *
 * *
 * * *
 * * * *
 * * * * *

In [176]:
for i in range(5,0,-1):
    print(i*' *')

 * * * * *
 * * * *
 * * *
 * *
 *

In [192]:
for i in range(1,6):
    print(" "*(5-i),i *' *')

      *
     * *
    * * *
   * * * *
  * * * * *

In [5]:
for i in range(1,11):
    print(' '*(10-i),i*' *')

           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *
   * * * * * * * * *
  * * * * * * * * * *

In [196]:
for i in range(5,0,-1):
    print(' '*(5-i),i*' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [11]:
for i in range(1,6):
    print(" "*(5-i),i*' *')
for i in range(5,0,-1):
    print(" "*(5-i),i*' *')

      *
     * *
    * * *
   * * * *
  * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [200]:
for i in range(1,6):
    print(i*' *')
for i in range(4,0,-1):
    print(i*' *')

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * *
 * * *
 * *
 *

In [202]:
for i in range(5,0,-1):
    print(' '*(5-i),i*' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [205]:
for i in range(1,11):
    print(' '*(10-i),i * ' *')
for i in range(10,0,-1):
    print(' '*(10-i),i*' *')

           *
          * *
         * * *
        * * * *
       * * * * *
      * * * * * *
     * * * * * * *
    * * * * * * * *
   * * * * * * * * *
  * * * * * * * * * *
  * * * * * * * * * *
   * * * * * * * * *
    * * * * * * * *
     * * * * * * *
      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

In [219]:
for i in range(2,11,2):    #even star pattern
    print('  '*(11-i),i*' *')

                    * *
                * * * *
            * * * * * *
        * * * * * * * *
    * * * * * * * * * *

In [13]:
for i in range(1,11,2):       #odd star pattern
    print('  '*(11-i),i*' *')

                      *
                  * * *
              * * * * *
          * * * * * * *
      * * * * * * * * *

In [223]:
i=1
while i<5:
    j=1
    while j<5:
        print(j)
        j=j+1
    i=i+1

1
2
3
4
1
2
3
4
1
2
3
4
1
2
3
4

In [246]:
    c=1
    for i in range(10):
        for j in range(10):
            print("Hello",c)
            c=c+1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 11
Hello 12
Hello 13
Hello 14
Hello 15
Hello 16
Hello 17
Hello 18
Hello 19
Hello 20
Hello 21
Hello 22
Hello 23
Hello 24
Hello 25
Hello 26
Hello 27
Hello 28
Hello 29
Hello 30
Hello 31
Hello 32
Hello 33
Hello 34
Hello 35
Hello 36
Hello 37
Hello 38
Hello 39
Hello 40
Hello 41
Hello 42
Hello 43
Hello 44
Hello 45
Hello 46
Hello 47
Hello 48
Hello 49
Hello 50
Hello 51
Hello 52
Hello 53
Hello 54
Hello 55
Hello 56
Hello 57
Hello 58
Hello 59
Hello 60
Hello 61
Hello 62
Hello 63
Hello 64
Hello 65
Hello 66
Hello 67
Hello 68
Hello 69
Hello 70
Hello 71
Hello 72
Hello 73
Hello 74
Hello 75
Hello 76
Hello 77
Hello 78
Hello 79
Hello 80
Hello 81
Hello 82
Hello 83
Hello 84
Hello 85
Hello 86
Hello 87
Hello 88
Hello 89
Hello 90
Hello 91
Hello 92
Hello 93
Hello 94
Hello 95
Hello 96
Hello 97
Hello 98
Hello 99
Hello 100

In [249]:
c=1
for i in range(1,6):
    for j in range(1,4):
        print(j,c)
        c=c+1

1 1
2 2
3 3
1 4
2 5
3 6
1 7
2 8
3 9
1 10
2 11
3 12
1 13
2 14
3 15

In [255]:
c=1
for i in range(1,6):
    for j in range(1,i):   
        print(j,c)   
        c=c+1

1 1
1 2
2 3
1 4
2 5
3 6
1 7
2 8
3 9
4 10

In [263]:
for i in range(1,6):
    for j in range(1,6):
        if i==3 and j==3:
            print('H',end=" ")
        else:
            print(0,end=" ")
    print()

0 0 0 0 0
0 0 0 0 0
0 0 H 0 0
0 0 0 0 0
0 0 0 0 0

In [272]:
 for i in range(5):
    for j in range(4):
        if j==0 or j==3 or i==2:
            print('*',end=' ')
        else:
            print(end='  ')
    print()

*     *
*     *
* * * *
*     *
*     *

In [277]:
for i in range(5):
    for j in range(4):
        if j==0 or j==3 or i==2:
            print('*',end=" ")
        else:
            print(end="  ")
    print()

*     *
*     *
* * * *
*     *
*     *

In [306]:
for i in range(1,3):
    for j in range(i):
        print(i,j)

1 0
2 0
2 1

In [303]:
for i in range(1,11):
    for j in range(1,11):
        print(f"{i} X {j} =" ,i*j,end=" ")
    print()

1 X 1 = 1 1 X 2 = 2 1 X 3 = 3 1 X 4 = 4 1 X 5 = 5 1 X 6 = 6 1 X 7 = 7 1 X 8 = 8 1 X 9 = 9 1 X 10 = 10
2 X 1 = 2 2 X 2 = 4 2 X 3 = 6 2 X 4 = 8 2 X 5 = 10 2 X 6 = 12 2 X 7 = 14 2 X 8 = 16 2 X 9 = 18 2 X 10 = 20
3 X 1 = 3 3 X 2 = 6 3 X 3 = 9 3 X 4 = 12 3 X 5 = 15 3 X 6 = 18 3 X 7 = 21 3 X 8 = 24 3 X 9 = 27 3 X 10 = 30
4 X 1 = 4 4 X 2 = 8 4 X 3 = 12 4 X 4 = 16 4 X 5 = 20 4 X 6 = 24 4 X 7 = 28 4 X 8 = 32 4 X 9 = 36 4 X 10 = 40
5 X 1 = 5 5 X 2 = 10 5 X 3 = 15 5 X 4 = 20 5 X 5 = 25 5 X 6 = 30 5 X 7 = 35 5 X 8 = 40 5 X 9 = 45 5 X 10 = 50
6 X 1 = 6 6 X 2 = 12 6 X 3 = 18 6 X 4 = 24 6 X 5 = 30 6 X 6 = 36 6 X 7 = 42 6 X 8 = 48 6 X 9 = 54 6 X 10 = 60
7 X 1 = 7 7 X 2 = 14 7 X 3 = 21 7 X 4 = 28 7 X 5 = 35 7 X 6 = 42 7 X 7 = 49 7 X 8 = 56 7 X 9 = 63 7 X 10 = 70
8 X 1 = 8 8 X 2 = 16 8 X 3 = 24 8 X 4 = 32 8 X 5 = 40 8 X 6 = 48 8 X 7 = 56 8 X 8 = 64 8 X 9 = 72 8 X 10 = 80
9 X 1 = 9 9 X 2 = 18 9 X 3 = 27 9 X 4 = 36 9 X 5 = 45 9 X 6 = 54 9 X 7 = 63 9 X 8 = 72 9 X 9 = 81 9 X 10 = 90
10 X 1 = 10 10 X 2 = 20 10 X 3 = 30 10 X 4 = 40 10 X 5 = 50 10 X 6 = 60 10 X 7 = 70 10 X 8 = 80 10 X 9 = 90 10 X 10 = 100

In [316]:
for i in range(0,5):
    print("outer",i)
    for j in range(i):
        print("hello",j)

outer 0
outer 1
hello 0
outer 2
hello 0
hello 1
outer 3
hello 0
hello 1
hello 2
outer 4
hello 0
hello 1
hello 2
hello 3

In [317]:
c=1
for i in  range(4):
    for j in range(i):
        print('hello',c)
        c+=1

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6

In [17]:
for i in range(1,6):
    for j in range(1,i+1):
        print(' *',end="")
    print()

 *
 * *
 * * *
 * * * *
 * * * * *